[user]
	name = Vamsi Avula
	email = avamsi07@gmail.com

[credential "https://github.com"]
	helper = !gh auth git-credential

[alias]
	am = !git add --all && git commit --amend
	ci = !git add --all && git commit

[init]
	defaultBranch = main
